<!-- myapp/templates/landing_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/mozamas/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/mozamas/assets/css/font-awesome.css">
     <link rel="icon" href="{% static '/mozamas/mgod.png' %}" type="image/png">
    <link rel="shortcut icon" href="{% static '/mozamas/mgod.png' %}" type="image/png">
    <link rel="stylesheet" href="static/mozamas/assets/css/templatemo-training-studio.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>Welcome to Mozamas</title>
</head>
<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo"><em>Mozamas</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">About</a></li>
                            <li class="scroll-to-section"><a href="#features">Chairs</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="main-button"><a href="{% url 'm_login' %}">Login</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
        <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="static/mozamas/assets/bhh.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Health Life Humanity God Success Money Wealth</h6>
                <h2>The Brotherhood</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#features">Become a member</a>
                </div>
            </div>
        </div>
    </div>


 <!-- jQuery -->
    <script src="static/mozamas/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/mozamas/assets/js/popper.js"></script>
    <script src="static/mozamas/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/mozamas/assets/js/scrollreveal.min.js"></script>
    <script src="static/mozamas/assets/js/waypoints.min.js"></script>
    <script src="static/mozamas/assets/js/jquery.counterup.min.js"></script>
    <script src="static/mozamas/assets/js/imgfix.min.js"></script>
    <script src="static/mozamas/assets/js/mixitup.js"></script>
    <script src="static/mozamas/assets/js/accordions.js"></script>
    <!-- Global Init -->
    <script src="static/mozamas/assets/js/custom.js"></script>
</body>
</html>
